<div class="container">
  <div class="route">
    <img src="../../../assets/images/logo.png" alt="logo" style="height: 11vh">
    <ul>
      <li routerLink="/home">Home</li>
      <li routerLink="/staff">Staff</li>
      <li routerLink="/gallery">Gallery</li>
      <li routerLink="/comments">Comments</li>
    </ul>
  </div>
  <div class="info">
    <h1>Stay with us feel like <span>home</span>.</h1>
    <p>Pet-friendly hotels are becoming increasingly popular; appealing to travellers who can’t bear to be parted.</p>
  </div>
</div>
