$bd-w: 100vw;
$bd-h: 100vh;
$font-roboto: Roboto, Regular, sans-serif;
$font-gelasio: Gelasio, Regular, sans-serif;
$font-size: 1em;
$br-rad: 6px;
$font-style: normal;
$background-btn: #1B75BB;
$padding-btn: 1.5vh 2vw;
